/node_modules
.DS_Store
/config/config.js
/.idea
.app.js.swp
/public/libs/highlightjs/.editorconfig
/public/libs/highlightjs/.gitattributes
/public/libs/highlightjs/.gitignore
/public/libs/highlightjs/.travis.yml
*.swp
