<div class="container-editor">
</div>
<div class="row editor">
  <div class="col-12 editor">
    <textarea class="form-control editor hljs" id="EditorArea">{{page.content}}</textarea>
      <!--<pre class="editor">-->
        <!--<code contenteditable="true" class="hljs editor form-control" id="EditorArea">{{page.content}}</code>-->
    <!--</pre>-->
  </div>
</div>
</div>
