<div class="container-editor">
</div>
<div class="row editor">
  <div class="col-12 editor">
    <textarea class="form-control editor" id="EditorArea">{{page.content}}</textarea>
  </div>
<<<<<<< HEAD
  <div class="row editor">
      <div class="col-12 editor">
        <textarea class="form-control editor" id="EditorArea"></textarea>
<script>

    $(function() {
        // Target all classed with ".lined"
        $(".lined").linedtextarea(
                {selectedLine: 1}
        );
        // Target a single one
        $("#form-control editor").linedtextarea();
    });

</script>

      </div>
  </div>

=======
</div>
</div>
>>>>>>> a1282a8b5c74d4b9d159a0b2c6fba0b48b071366
