<div class="container-editor">
  </div>
  <div class="row editor">
      <div class="col-12 editor">
        <textarea class="form-control editor" id="EditorArea"></textarea>
      </div>
  </div>
</div>
